//paths.loader


/*Font Colors*/

$base-font-size:15px;
// $base-font-family:"Segoe UI",
// "Segoe WP",
// "Segoe Regular",
// sans-serif;


$base-font-family:"Segoe UI", "Verdana", "Helvetica", "Sans-Serif";

$base-font-color:#666666;
$page-header-color:#990066;
/*Background Colors*/

/*$primary-color:#1cb94e;*/
$primary-color:#0064ca;
/*$secondary-color:#7fba00;*/
$secondary-color:#0099cc;
$light-color:#e4eef2;
/*$dark-color:#2b5464;*/
$dark-color:#0064ca;
$danger-color:#a94442;
$success-color:#3c763d;
$warning-color:    #f0ad4e;
$warning-danger-color:#ef7b4d;
//$background-color:#5883ae;
$background-color:#E7E7E7;

$error-background-color:#FFBABA;
$error:#D8000C;
$success-background-color:#C4EAA0;
$success:#5cb85c;

$btn-success-active:#449d44;
$btn-success-border-active:#398439;

$positive-result:#5cb85c;
$negative-result:#d9534f;


$btn-success:#5cb85c;
$btn-success-border:#4cac4c;
/*showcase Area*/

// $showcase-height:400px;
//$showcase-image:'./assets/img/bg-qehb.jpg';
//$showcase-image: paths.uhbImg;
$spacer:1rem;


// $inclusion-Criteria-color:#1cb94e;
// $exclusion-Criteria-color:#d9534f;
