/*Footer*/

.footer-main{
     @include add-background($dark-color);
     @include add-border(5px, $secondary-color, top);
     min-height: 5px;
     padding:2px 15px;
     z-index: 100;

     a{
         color:#ffffff;
     }

     ul {
         margin:0;
         padding: 0;
     }

     li{
         line-height:1.8em;
         list-style:none;
     }
     
     .copyright{
         padding-left:15px;
     }

     .version{
         padding-right:15px;
     }
}