body {
    padding-top: 50px;
    padding-bottom: 20px;
   // background-color: lighten($secondary-color, 55% );
   background-color: $background-color; 
   line-height: 1.7em;
    color:$base-font-color;

   
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.marginTop50{
    margin-top:50px;
}

.paddingTop40{
    padding-top:40px;
}

// footer{
//     color:#1CB94E !important;
// }