/*Font Colors*/

$base-font-size:15px;
$base-font-family:"Segoe UI",
"Segoe WP",
"Segoe Regular",
sans-serif;
$base-font-color:#666666;

/*Background Colors*/

$primary-color:#1cb94e;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;
$danger-color:#a94442;
$success-color:#3c763d;
$background-color:#5883ae;   
/*showcase Area*/

// $showcase-height:400px;
//$showcase-image:'~/assets/img/bg-qehb.jpg';

$spacer:1rem;


// $inclusion-Criteria-color:#1cb94e;
// $exclusion-Criteria-color:#d9534f;