@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sainsbury's Bonus Tool</title>
    <link href="/Assets/css/vendor.css" rel="stylesheet" />
    <link href="/Assets/css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <h1>Your browser is not supported</h1>
    <h2>Please upgrade or use a different browser</h2>
</body>
</html>
